<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Locker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LockerUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Locker.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="ClipboardTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AlphabeticalSorterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Encrypter" serializeAs="String">
                <value>XOR</value>
            </setting>
        </Locker.Properties.Settings>
        <LockerUI.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="ClipboardTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AlphabeticalSorterChecked" serializeAs="String">
                <value>False</value>
            </setting>
        </LockerUI.Properties.Settings>
    </userSettings>
</configuration>
